:root {
  --main-color: #03b4e0;
}
body {
  background-color: rgb(227, 224, 224);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.main-container {
  background-color: var(--main-color);
  border-radius: 15px;
  margin: 30px auto;
  display: flex;
  max-width: 1200px;
}
.blue-container {
  position: relative;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: var(--main-color);
  color: white;
  text-align: center;
  padding: 70px 50px 1px 50px;
}
.person-container img {
  border-radius: 50%;
  width: 70%;
  margin-left: 35px;
}
.name-title {
  margin-top: -15px;
}
.blue-footer {
  padding-top: 279px;
  font-size: 12px;
}
/* ============================== */ 
.white-conatiner {
  background-color: #fff;
  border-radius: 15px;
  padding: 60px 40px;
}
.flex-block {
  padding-left: 130px;
}
.cia-flex {
  display: flex;
  gap: 30px;
}
.company {
  color: rgb(182, 175, 175);
  text-align: right;
  font-weight: normal;
  margin-top: -10px;
}
.description {
  color: rgb(86, 84, 84);
  margin-top: -6px;
}

/* ================================== */
.person-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* =========================== */

.percent-conatiner {
  display: flex;
  justify-content: space-between;
}
.percent-color {
  color: grey;
}

.skill-level {
  background-color: var(--main-color);
  height: 15px;
  margin: 2px;
  border-radius: 15px;
}
.skill-border {
  border: 1px solid var(--main-color);
  border-radius: 15px;
}
.skill-flex {
  display: flex;
  justify-content: space-between;
}
.skill-title {
  font-weight: bold;
  font-size: 15px;
}
.skill-proc {
  font-size: 15px;

  color: grey;
}
.skill-border {
  margin-top: -10px;
}
/* ====================================== */
.add-container {
  background-color: #fff;
  margin: 30px 60px;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 1px blue;
  color: var(--main-color);
}
button {
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 7px;
}
a {
  text-decoration: none;
  color: #fff;
}
input {
  border-radius: 6px;
  padding: 5px 10px;
  margin: 10px 0;
  box-shadow: #03b4e0 2px 2px 2px 2px;
  width: 60%;
}
